.transactions-statistics-container {
    text-align: center;
    padding-top: 100px;
}

.transactions-statistics-container label {
    margin-bottom: 5px; /* Reduce margin */
    font-size: 1.2rem; /* Reduce font size */
    font-weight: bold; /* Make label bold */
  }

.transactions-statistics-container select {
    margin-bottom: 5px; /* Reduce margin */
      font-size: 1.2rem; /* Reduce font size */
      padding: auto; /* Add padding */
      background-color: #83f5e98a; /* Change background color */
      border: 1px solid #83f5e98a; /* Change border */
  }

.month-dropdown {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.statistics-table {
    border-collapse: collapse;
    width: 80%;
    font-size: 0.8rem;
    border: 2px solid #000; /* Set border to 2px solid black */
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin: 0 auto; /* Align the table to the center */
    background-color: rgb(250, 233, 138);
}

.statistics-table table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.statistics-table th, .statistics-table td {
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
}
