.transactions-bar-chart-container {
  width: 80%;
  margin: 0 auto; 
  text-align: center;
  padding-top: 100px; 
}

.transactions-bar-chart-container h2 {
  margin-bottom: 10px; 
  font-size: 1.2rem; 
}

.transactions-bar-chart-container label {
  margin-bottom: 5px; 
  font-size: 1.2rem;
  font-weight: bold; 
}

.transactions-bar-chart-container select {
  margin-bottom: 5px; 
    font-size: 1.2rem; 
    padding: auto; 
    background-color: #83f5e98a; 
    border: 1px solid #83f5e98a; 
}
